body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../images/sfondo.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: #333;
}

#loginTitle, #signupTitle {
  padding: 1em;
  font-weight: 750;
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40em;
  width: 100%;
  margin-bottom: 250px;
}

.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 40%;
  min-width: 400px;
  margin-top: 250px;
  min-height: 600px;
  padding: 20px;
}

@media (max-width: 1680px) {
  .container {
    width: 20%;
    justify-content: center;
  }

  .overlay-responsive {
    display: flex !important;
  }

  .right-container {
    display: none !important;
  }
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
}

.container a {
  color: #020887;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container a:hover {
  text-decoration: underline;
}

.container button {
  background-color: #020887;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out
}

.container button:hover {
  transform: scale(1.05);
}

.container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  width: 100%;
}

.container input {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 8px 0;
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  height: 100%;
  padding-bottom: 2em;
}

.social-icons {
  margin: 5px 0 30px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  width: 40px;
  height: 40px;
}

.social-icons a:hover {
  background-color: #efefef;
  text-decoration: none;
}


.input-icon-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.input-container{
  position: relative;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  margin: 2px 0 2px 0
}

label{
  font-size: 14px;
  font-weight: 600;
  margin-left: 2em;
}

.error-message {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.input-error {
  border-color: red;
}

.input-icon-wrapper .icon {
  position: absolute;
  left: 15px;
  top: 20px;
  z-index: 10;
  color: #333;
}

.input-icon-wrapper input {
  padding-left: 50px;
}

.form-container form span {
  margin-bottom: 10px;
}

.password-reset {
  color: #020887;
}

.password-reset:hover {
  font-weight: bold;
}

.social-icons a:hover {
  background-color: #efefef;
}

.social-icons a em {
  font-size: 20px;
  color: #333;
}

.social-icons a em:hover {
  color: #000;
}

.right-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30em 0 0 30em;
  background-color: #020887;
  padding: 20px;
}

.overlay {
  position: relative;
  width: 100%;
  align-content: center;
}

.right-container h1 {
  text-align: center;
  font-size: 36px;
  color: #fff;
}

.right-container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #fff;
  margin-bottom: 0;
}

.right-container button {
  background-color: #fff;
  color: #020887;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.overlay-right {
  position: relative;
  width: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.overlay-responsive{
  display: none;
  margin-top: 1em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.overlay-responsive a {
  margin: 0 0 0 3px;
  cursor: pointer;
}

.overlay-responsive a:hover {
  text-decoration: underline;
  font-weight: bold;
}
