/.DS_Store
/queryexamples/.DS_Store
/queryexamples/Games Search Page/.DS_Store
/solutions/Data_Analysis/Dataset/.DS_Store
/solutions/Data_Analysis/.DS_Store
/solutions/Main_Server/node_modules/
/solutions/MongoDB_Server/node_modules/
/solutions/Main_Server/public/.DS_Store
/solutions/Data_Analisys/Dataset/
/solutions/Data_Analisys/Utils/__pycache__/CompetitionUtils.cpython-311.pyc

